html,body {
    padding: 0;
    margin: 0;
    color: #ebebeb;
}

#menu{
	height: 60px;
	width:100%;
	background-color:dimgrey;
	color:bisque;
	opacity: 0.7;
	filter:alpha (opacity=70);
	
}
#logo{
	float:right;
	line-height: 40px;
	padding-right: 10px;
	margin-top: 10px;
   	
}

.form-control{
	height: 10px;
	
  width: 50px;
}

.menu-all .menu-item{
	float:left;
	padding: 10px;
	list-style-type: none;
	line-height: 40px;
	font-family:serif;
	

}
.menu-all .menu-item:hover{
	background-color: #2E2E2E;
	color: bisque;
	

}

#wsfooter{
	clear:both;
	text-align: center;
	background-color:  #2E2E2E;
	padding: 30px 0;
	color: bisque;
    font-family: serif;
	
}

#nav{
	width: 100%;
	height: 400px;
	background:url(gg.jpg) no-repeat center center;
	background-size:cover;
	margin-top: -10px;
    
}

img{
	position:sticky;
	left: 42%;
	margin-top: 7px;
}
.bild1{
	color: bisque;
	text-align:center;
	margin-top: 9px;
}
.bild2{
	color: bisque;
	text-align:center;
	font-size: 26px;
	margin-top: -6px;
}
.bild3{
	color: bisque;
	text-align: center;
	font-size: 15px;
	margin-top: -15px;
}


.Container {
    display: flex;
    overflow: hidden;
    height: auto;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

.Right {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.Left {
    width: 40%;
    display: 
    overflow: hidden;
    height: auto;
}

.Right {
    width: 60%;
    background-color: white;
	
}




.top-content1{             
	font-size: 90%;
	font-family:;
	width: 100%;
    clear: both;
	height:205px;
	background-color:dimgrey;
	padding: 3%;

}

	
	
	
.top-content2{          
	font-size: 90%;
	font-family:;
	width: 100%;
    clear: both;
	height:302px;
	background-color:dimgrey;
	padding: 3%;
	
	
	
}


.top-content3{             
	font-size: 90%;
	font-family:;
	width: 100%;
    clear: both;
	height:460px;;
	background-color:dimgrey;
	padding: 3%;
	float: left
	
}

.top-content4{             
	font-size: 90%;
	font-family:;
	width: 100%;
    clear: both;
	height:250px;
	background-color:dimgrey;
	padding: 3%;
	float: left
	
}

h6, h4{
	color:bisque;
}


a:link, a:visited {
	color:bisque;
	text-decoration:none;
	text-align: center;
}
a:hover{
	color:bisque;
	
}

	.material-icons{
				font-size:30px; 
				color:black;
			}
			.material-icons{
				font-size:26px; 
				color:black;
			 }
			.material-icons{
				font-size:24px; 
				color:black;
			}
			.fa-slack{
				 font-size:24px; 
				 color:black;
			}
			.fa-github{
				 font-size:26px; 
				color:black;
				
			}
			.span1{
				 font-size:16px;
				color: bisque;
			}
			.fa-music{
				 font-size:26px; 
				color:black;
			}
			.fa-plane{
				font-size:28px; 
				color:black;
			}
			.fa-car{
				 font-size:24px;
				 color:black;
			}
			.fa-file-word-o{
				font-size:24px;
				color:black;
			}
			.fa-file-excel-o{
				font-size:24px;
				color:black;
			}
			.fa-file-powerpoint-o{
				font-size:24px;
				color:black;
				
			}
			.fa-male{
				font-size:30px;
				color:black; 
				float: right; 
				margin-right:23px;
			}
			.fa-graduation-cap{
				font-size:24px;
				color:black; 
				float: right; 
				margin-right:15px;
			}
			.fa-gears{
				font-size:24px;
				color:black; 
				float: right; 
				margin-right:15px;
			}

      

			
			@media (min-width:1000px) and (max-width:1200px){
				h3{
					font-size: 1.5em;
				}
				h4{
					font-size: 1em;
				}
				p{
					font-size: 99%;
				}		
				
			}
			@media (min-width:800px) and (max-width:1000px){
				h3{
					font-size: 1em;
				}
				h4{
					font-size: 0.9em;
				}
				p{
					font-size: 92%;
				}
				.span1{
				font-size:100%;
				}
				
			}
			@media (min-width:600px) and (max-width:800px){
				h3{
					font-size: 0.8em;
				}
				h4{
					font-size: 0.7em;
				}
				p{
					font-size: 80%;
				}
				.span1{
				font-size:90%;
				}
				.fa-male{
				font-size:20px;
				
				}
				.fa-graduation-cap{
					font-size:18px;
				}
				.fa-gears{
					font-size:18px;
				}
				.material-icons{
					font-size: 17px;
				}
				.fa-slack{
					font-size: 17px;
				}
				.fa-github{
					font-size: 17px;
				}
				.fa-music{
				 font-size:17px;
			    }
			.fa-plane{
				font-size:17px;
			    }
			.fa-car{
				 font-size:13px;
			    }
			.fa-file-word-o{
				font-size:14px;
			   }
			.fa-file-excel-o{
				font-size:14px;
			   }
			.fa-file-powerpoint-o{
				font-size:14px;
			   }
				.top-content1{
					height: 150px;
				}
				.top-content4{
					height: 305px;
				}
			
			}
			@media (min-width:400px) and (max-width:600px){
				h3{
					font-size: 0.7em;
					margin-top: -5px;
				}
				h4{
					font-size: 0.6em;
				}
				p{
					font-size: 70%;
				}
				.span1{
				font-size:80%;
				}
				.fa-male{
				font-size:17px;
				
				}
				.fa-graduation-cap{
					font-size:15px;
				}
				.fa-gears{
					font-size:15px;
				}
				.material-icons{
					font-size: 14px;
				}
				.fa-slack{
					font-size: 12px;
				}
				.fa-github{
					font-size: 12px;
				}
				.fa-music{
				 font-size:12px;
			    }
			.fa-plane{
				font-size:14px;
			    }
			.fa-car{
				 font-size:10px;
			    }
			.fa-file-word-o{
				font-size:12px;
			   }
			.fa-file-excel-o{
				font-size:12px;
			   }
			.fa-file-powerpoint-o{
				font-size:12px;
			   }
				.top-content1{
					height: 150px;
					
				}
				.top-content4{
					height: 320px;
				}
			
			}
			@media (min-width:270px) and (max-width:400px){
				h3{
					font-size: 0.6em;
					margin-top: -5px;
				}
				h4{
					font-size: 0.5em;
				}
				p{
					font-size: 50%;
				}
				.span1{
				font-size:60%;
				}
				.fa-male{
				font-size:15px;
				
				}
				.fa-graduation-cap{
					font-size:12px;
				}
				.fa-gears{
					font-size:12px;
				}
				.material-icons{
					font-size: 12px;
				}
				.fa-slack{
					font-size: 12px;
				}
				.fa-github{
					font-size: 12px;
				}
				.fa-music{
				 font-size:12px;
			    }
			.fa-plane{
				font-size:12px;
			    }
			.fa-car{
				 font-size:10px;
			    }
			.fa-file-word-o{
				font-size:12px;
			   }
			.fa-file-excel-o{
				font-size:12px;
			   }
			.fa-file-powerpoint-o{
				font-size:12px;
			   }
				.top-content1{
					height: 160px;
				}
				.top-content4{
					height: 250px;
				}
			
				
			}
			
			


